
@import url('variables.css');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(92, 92, 92);
}

body {
    max-width: var(--main-layout-width);
    background: white;
}

body, table, form, select, option, input, textarea {
    font: inherit;
}

label {
    color: rgb(92, 92, 92);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: 100;
    font-family: "Fira Sans", Georgia, serif;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.error {
    color: red;
}
