:root {
    --main-layout-width: 100vw;
    --sidebar-width: 0em;

    --spinner-color: rgb(216, 50, 0);
    --spiner-background: rgb(255, 255, 255);

    --scroll-bar-background-color: rgb(73, 73, 73);
    --scroll-bar-color: rgb(156, 156, 156);
}